@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.text-heading-xl {
		font-weight: bold;
		font-size: 1.5rem;
		line-height: 30px;
	}

	.text-heading-l {
		font-weight: bold;
		font-size: 1.125rem;
		line-height: 23px;
	}

	.text-heading-m {
		font-weight: bold;
		font-size: 0.9375rem;
		line-height: 19px;
	}

	.text-heading-s {
		font-weight: bold;
		font-size: 0.75rem;
		line-height: 15px;
	}

	.text-body-l {
		font-weight: 500;
		font-size: 0.8125rem;
		line-height: 23px;
	}

	.text-body-m {
		font-weight: bold;
		font-size: 0.75rem;
		line-height: 15px;
	}
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url("/Plus_Jakarta_Sans/static/PlusJakartaSans-Regular.ttf") format("truetype"),
       url("/Plus_Jakarta_Sans/static/PlusJakartaSans-Regular.ttf") format("truetype");
	
	font-weight: 100 400;
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url("/Plus_Jakarta_Sans/static/PlusJakartaSans-Medium.ttf") format("truetype"),
       url("/Plus_Jakarta_Sans/static/PlusJakartaSans-Medium.ttf") format("truetype");
	
	font-weight: 500;
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url("/Plus_Jakarta_Sans/static/PlusJakartaSans-Bold.ttf") format("truetype"),
       url("/Plus_Jakarta_Sans/static/PlusJakartaSans-Bold.ttf") format("truetype");
	
	font-weight: 700;
}

* {
	font-family: 'Plus Jakarta Sans', sans-serif;
}
